<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align: center;" class="form-container mat-elevation-z5">
    <button routerLink="/Books" mat-raised-button color="primary">
        List of All Books
    </button>
</div>


<div id="container">	

	
	<div class="product-details">
		
	<h1>BOOKING SYSTEM</h1>
	<span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
	</span>
		
			<p class="information">" Let's spread the joy , here is Booking System , the most awaited app of the year.Booking System is what one need the most. Here is the correct Way which will enhance your Booking Management publications.</p>

		
		
<div class="control">
	
	<button class="btn">
	 <span class="toogle">+</span>
   <span class="effect-cart"><i class="fa fa-address-book" aria-hidden="true"></i></span>
   <span routerLink="/new-book" class="adding">Add new Book now</span>
 </button>
	
</div>
			
</div>
	
<div class="product-image">
	
	<img src="assets/images/booking.jpg" alt="">
	

<div class="info">
	<h2> Description</h2>
	<ul>
		<li><strong>Authors : </strong>Name of Several Authors</li>
		<li><strong>Descriptions : </strong>Summary of the book</li>
		<li><strong>Publish Date: </strong>Day of publishing</li>
		<li><strong>Titles and Tags: </strong>Main Title and Tags</li>
		
	</ul>
</div>
</div>

</div>