<!-- Showcase -->
<section class="showcase">
  <div class="container grid">
     <div class="showcase-text">
        <h1>Intégration Facile en 2.0</h1>
        <p>vous cherchez une solution e-library. nous avons le produit @2.0 instauré pret à etre utilisé. On a des produits multi variés et robustes car notre interet c'est vous e-library 2.0 facile à utiliser et à manipuler.
     </div>
     <div class="showcase-form card">
        <a href="https://xevlabs.com/">
        <img height="320px" src="assets/images/Xevlabs.png" class="image" alt="register" />
        </a>
     </div>
  </div>
</section>
<!-- Stats -->
<section class="stats">
  <div class="container">
     <h1 class="stats-heading text-center my-1">
        Nos chiffres en matiere de transformation digitale
     </h1>
     <div class="grid grid-3 text-center my-4">
        <div>
           <i class="fas fa-server fa-3x"></i>
           <h3>10,349,405</h3>
           <p class="text-secondary">Capacité de deploiement</p>
        </div>
        <div>
           <i class="fas fa-upload fa-3x"></i>
           <h3>500 TB</h3>
           <p class="text-secondary">Projets lancés</p>
        </div>
        <div>
           <i class="fas fa-project-diagram fa-3x"></i>
           <h3>20,452,265</h3>
           <p class="text-secondary">Collaborations</p>
        </div>
     </div>
  </div>
</section>
<!-- Cloud -->
<section class="cloud my-2 py-2" style="background-color: firebrick;">
  <div class="container grid">
     <div class="text-center">
        <h2 style="color: white" class="lg">Xevlabs France</h2>
        <p style="color: white" class="lead my-1">vous aimez relever les challenges et vous souhaitez enrichir votre parcours professionnel. rejoignez nous. Notre equipe vous attends Xevlabs vous occupe une offre speciale c'est parti!!</p>
        <a href="https://xevlabs.com/" class="btn btn-dark">C'est parti</a>
     </div>
     <img src="assets/images/cloud.png" alt="">
  </div>
</section>
<!-- Languages -->
<section class="languages">
  <h1 class="md text-center my-2">
     Nos Directions en question
  </h1>
  <div class="container flex">
     <div class="card" >
        <a href="https://xevlabs.com/">
        <img  title="Xevlabs Paris"  style="cursor: pointer" width="125" height="125" src="assets/images/paris.jpg">
        </a>
     </div>
     <div class="card">
        <a href="https://xevlabs.com/">
        <img title="Xevlabs Lyon" style="cursor: pointer" width="125" height="125" src="assets/images/lyon.jpg"  alt="">
        </a>
     </div>
     <div class="card" >
        <a href="https://xevlabs.com/">
        <img  title="Xevlabs Paris"  style="cursor: pointer" width="125" height="125" src="assets/images/paris.jpg">
        </a>
     </div>
     <div class="card">
        <a href="https://xevlabs.com/">
        <img title="Xevlabs Lyon" style="cursor: pointer" width="125" height="125" src="assets/images/lyon.jpg"  alt="">
        </a>
     </div>
     <div class="card" >
        <a href="https://xevlabs.com/">
        <img  title="Xevlabs Paris"  style="cursor: pointer" width="125" height="125" src="assets/images/paris.jpg">
        </a>
     </div>
     <div class="card">
        <a href="https://xevlabs.com/">
        <img title="Xevlabs Lyon" style="cursor: pointer" width="125" height="125" src="assets/images/lyon.jpg"  alt="">
        </a>
     </div>
     <div class="card" >
        <a href="https://xevlabs.com/">
        <img  title="Xevlabs Paris"  style="cursor: pointer" width="125" height="125" src="assets/images/paris.jpg">
        </a>
     </div>
     <div class="card">
        <a href="https://xevlabs.com/">
        <img title="Xevlabs Lyon" style="cursor: pointer" width="125" height="125" src="assets/images/lyon.jpg"  alt="">
        </a>
     </div>
  </div>
</section>