mat-toolbar{
    justify-content: space-between;
}

.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}

.logo-container img {
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 5%;
}
.logo-container span {
    vertical-align: 65%;
    font-family: 'Joti One', cursive;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}

.user-Name {
    font-size: large;
}

.bg-dark,
.btn-dark {
  background-color: #002240;
  color: #fff;
}


.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

.py-5 {
    padding: 4rem 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}