mat-toolbar{
    justify-content: space-between;
}

.content{
    padding: 32px;
}

.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}

.logo-container img {
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 5%;
}
.logo-container span {
    vertical-align: 65%;
    font-family: 'Joti One', cursive;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}

.user-Name {
    font-size: large;
}

